div{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#img{
    height: 300px;
    width: 300px;
}
#img1{
    height: 300px;
    width: 300px;
}
#img2{
    height: 300px;
    width: 300px;
}